h1 {
 font-family: impact, sans-serif;
  font-size: 40px;
   margin-top: 5px;
  text-align: center;
 }

 map {
   height: 100%;
 }

 html, body {
        height: 500px;
        width: 100%;
        background-color: grey;
        margin: 0;
        padding: 0;
 }