html {
 background-color: #212630;
}

body {
  background-image: url("channel.jpg");
  background-position: center top;
  background-size: 1400px 700px;
  background-repeat: no-repeat;
  text-align: center;
  text-shadow: 2px 2px #ffffff;
 }

h1 {
 font-family: impact, sans-serif;
  font-size: 28px;
  text-align: center;
  text-shadow: 3px 3px #ffffff;
}

button {
  background-color: #000000;
  border: 2px solid white;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.block {
    width: 40%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.conv {
  background-color:white;
  border: 2px solid black;
  color:black;
  padding:10px;
  width: 40%;
  align-position: center;
  text-align: center;
  display: inline-block;
}
#wrongway {
  background-image: url("slope.jpg");
}