html {
 background-color: #212630;
}

body {
  background-image: url("Fondo.jpg");
  background-position: center top;
  background-size: 1100px 700px;
  background-repeat: no-repeat;
  text-align: center;
 }

h1 {
 font-family: impact, sans-serif;
  font-size: 40px;
  text-align: center;
  text-shadow: 1px 1px #2A1A7A;
}

button {
  background-color: #000000;
  border: 2px solid white;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.dropdown {
    font-family: Book Antiqua, sans-serif;
    text-align: center;
    display: inline-block;
    margin-left:auto;
    margin-right:auto;
}

.dropdowntext {
    font-family: Book Antiqua, sans-serif;
    position: absolute;
    min-width: 160px;
    background-color: #ebca9d;
    box-shadow: 0px 8px 16px 0px;
    text-align: center;
}

.block {
      width: 40%;
       margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}