
body {
  background-image: url("Fondo.jpg");
  background-position: center;
  height: 100%
  background-size: auto;
 }

h1 {
 margin:50px
 font-family: impact, sans-serif;
  font-size: 40px;
  text-align: center;
  text-shadow: 1px 1px #2A1A7A;
}

input[type=text] {
  background-position: center;
  background-color: marron;
  text-align: right;
}