
body {
  background-image: url("Fondo.jpg");
  background-position: center;
  background-size: cover;
 }

h1 {
 font-family: impact, sans-serif;
  font-size: 40px;
  text-align: center;
  text-shadow: 1px 1px #2A1A7A;
}

input[type=text] {
  background-color: #3CBC8D;
  color: white;
  text-align: left;
}


.right {
  padding: 10px;
    grid-area: right;
}