
body {
   background-image: src("Background.jpg");
  font-family: sans-serif, arial;
  font-size: 14px;
  text-align: center;
}

h1 {
 font-family: impact, sans-serif;
  font-size: 40px;
   margin-top: 5px;
  text-align: center;
}


