
body {
  background-image: url("Background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: sans-serif, arial;
  font-size: 14px;
  text-align: center;
}

h1 {
 font-family: impact, sans-serif;
  font-size: 40px;
   margin-top: 5px;
  text-align: center;
}


