
body {
  background-image: url("Fondo.jpg");
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif, arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

h1 {
 font-family: impact, sans-serif;
  font-size: 40px;
   margin-top: 5px;
  text-align: center;
  text-shadow: 1px 1px #2A1A7A;
}


